/* Color scheme. Dark mode version:
    background: #273549
    div containers: #1F2937
    h2: #CCC1FF
    text: #fff
    heading background: #6943FF
    heading small boxborder: #B295FF
*/

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 1.6rem;
    box-sizing: border-box;
}
/* Hold off on styling - I'm getting lost and frustrated*/
.main-container{
}


