/* Color scheme. Dark mode version:
    background: #1F2937
    div containers: #273549
    h2: #CCC1FF
    text: #fff
    heading background: #6943FF
    heading small boxborder: #B295FF
*/

html {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    background: #000;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1.6rem;
    color: #FFF;
    background: #000;
}

.root {
    text-align: center;
    width: 40vw;
    margin: auto;
    margin-top: 15%;
    padding-bottom: 2rem;
    background: #1F2937;
}

header {
    background: #6943FF;
    height: 20rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 2.8rem;
}

input#convert-input {
    border: 0.1rem solid #B295FF;
    background-color: #6943FF;
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    width: 10rem;
    height: 8.5rem;
    text-align: center;
    color: white;
    padding: 1rem;
}

input#convert-input:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}


section {
    background: #273549;
    height: 8rem;
    width: 35vw;
    margin: auto;
}

h2 {
    color: #CCC1FF;
    padding-top: 1.5rem;
    font-weight: 600;
    font-size: 2rem;
}

.convert-result {
    font-weight: 400;
    font-size: 1.4rem;
}
